
    <div class="bg">
        <div class="headline">
            <h1>Cinema Ironhack</h1>
            <form action="/movies" method="GET">
                <button type="submit" class="btn btn-light">Check the movies!</button>
            </form>
        </div>

    </div>
